<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AdminLoginServlet</servlet-name>
        <servlet-class>phonestore.controller.AdminLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PhoneDetailsUploadDBServlet</servlet-name>
        <servlet-class>phonestore.controller.PhoneDetailsUploadDBServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PhoneImageUploadDBServlet</servlet-name>
        <servlet-class>phonestore.controller.PhoneImageUploadDBServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductServlet</servlet-name>
        <servlet-class>phonestore.controller.DeleteProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PhoneDetailsUpdateServlet</servlet-name>
        <servlet-class>phonestore.controller.PhoneDetailsUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLoginServlet</servlet-name>
        <servlet-class>phonestore.controller.UserLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserRegisterServlet</servlet-name>
        <servlet-class>phonestore.controller.UserRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserImageUploadServlet</servlet-name>
        <servlet-class>phonestore.controller.UserImageUploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserPasswordUpdateServlet</servlet-name>
        <servlet-class>phonestore.controller.UserPasswordUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserContactUpdateServlet</servlet-name>
        <servlet-class>phonestore.controller.UserContactUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserAddressUpdateServlet</servlet-name>
        <servlet-class>phonestore.controller.UserAddressUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddtoCartServlet</servlet-name>
        <servlet-class>phonestore.controller.AddtoCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminChangePassServlet</servlet-name>
        <servlet-class>phonestore.controller.AdminChangePassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddReviewServlet</servlet-name>
        <servlet-class>phonestore.controller.AddReviewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>phonestore.controller.CheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCartItemServlet</servlet-name>
        <servlet-class>phonestore.controller.DeleteCartItemServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminLoginServlet</servlet-name>
        <url-pattern>/adminlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PhoneDetailsUploadDBServlet</servlet-name>
        <url-pattern>/uploadphonedetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PhoneImageUploadDBServlet</servlet-name>
        <url-pattern>/uploadPhoneImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductServlet</servlet-name>
        <url-pattern>/deletephone</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PhoneDetailsUpdateServlet</servlet-name>
        <url-pattern>/phonedetailsupdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLoginServlet</servlet-name>
        <url-pattern>/userLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserRegisterServlet</servlet-name>
        <url-pattern>/userRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserImageUploadServlet</servlet-name>
        <url-pattern>/uploadUserImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserPasswordUpdateServlet</servlet-name>
        <url-pattern>/updateUserPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserContactUpdateServlet</servlet-name>
        <url-pattern>/updateusercontact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserAddressUpdateServlet</servlet-name>
        <url-pattern>/updateuseraddress</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddtoCartServlet</servlet-name>
        <url-pattern>/addtocart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminChangePassServlet</servlet-name>
        <url-pattern>/adminPassChange</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddReviewServlet</servlet-name>
        <url-pattern>/review</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCartItemServlet</servlet-name>
        <url-pattern>/deleteitem</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
